<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5Kk N" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<section layout:fragment="content">
  <div class="col-md-6 offset-3"> <form method="post" th:action="@{save}">
    <div>
      <label>Customer Number</label> <input class="form-control" type="text" name="custno" th:value="${saving.custno}"> <span th:errors="${saving.custno}"></span>
    </div>
    <div>
      <label>CustomerName</label>
      <input class="form-control" type="text" name="custname" th:value="${saving.custname}"> <span th:errors="${saving.custname}"></span>
    </div>
    <div>
      <label>Customer Deposit</label>
      <input class="form-control" type="text" name="cdep" th:value="${saving.cdep}"> <span th:errors="${saving.cdep}"></span>
    </div>
    <div>
      <label>Number of Years</label>
      <input class="form-control" type="number" name="nyears" th:value="${saving.nyears}"> <span th:errors="${saving.nyears}"></span>
    </div>
    <div>
      <label>Saving Type</label>
      <select class="form-control" name="savingType" th:field="*{saving.savtype}">
        <option value="Saving-Regular" th:selected="${saving.savtype == 'Saving-Regular'}">Saving-Regular</option>
        <option value="Saving-Deluxe" th:selected="${saving.savtype == 'Saving-Deluxe'}">Saving-Deluxe</option>
      </select>
      <span th:errors="*{saving.savtype}"></span>
    </div>
<br>
    <button type="submit" class="btn-primary" th:href="@{/index}">Save</button>
  </form>
  </div>
</section>
</body>
</html>